@font-face {
    font-family: "Roboto";
    src: url("../fonts/static/Roboto-Regular.ttf");
  }

html, body{
    font-family: "Roboto";
    background-color: #F1F4F9;
    height: 100%;
    margin: 0;
    padding: 0;
}
h1{
    margin: 0;
}

header{
    display: grid;
    background-color: #73D2DE;
    margin: 0;
    margin-bottom: 0;
    height: 80px;
    align-items: center;
}

#logo{
    width: 220px;
}

.sidebar{
    background-color: #2BA6B6;
    color: white;
    text-align: center;
    height: 100%;
}

.list{
    width: 100%;
    list-style: none;
    padding-left: 0;
    
}

.list li{
    display: grid;
    border-top: 1px solid rgba(255,255,255,.5); 
    font-size: larger;
    height: 80px;
    align-items: center;
}

#lastLi{
    border-bottom: 1px solid rgba(255,255,255,.5); 
}

.list li:hover{
    background-color: #73D2DE;
    transition: 0.5s;
}

.list a{
  color: white;
  line-height:3;
  padding: 0 10px;
  text-decoration:none;
}

main{
    display: grid;
    grid-template-columns: auto 80%;
    gap: 30px;
    height: 100%;
}

.cards-section{
    display: grid;
    grid-template-columns: repeat(3, 480px);
    grid-template-rows: auto auto;
    gap: 30px;
    margin-top: 30px;
}

.card{
    background-color: white;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.card-data{
    display: grid;
    grid-template-columns: 20% auto;
    align-items: center;
    width: 100%;
}

.card-icon{
    width: 55px;
    margin-left: 10px;
}

.graphics-section{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 65% 31%;
    gap: 30px;
}

.card-data h1{
    margin-left: 10px;
}


.events{
    display: grid;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    align-items: center;
}

.events h1{
    margin-left: 10px;
}

.event{
    line-height: 2;
    border-bottom: 1px solid grey; 
    width: 80%;
    margin-left: 10px;
}

.fechaEvento{
    margin: 0;
    color: grey;
    font-size: small;
}

.sub_board{
    height: 300px;
    margin-top: 0px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.sep_board{
    width: 100%;
    height: 10%;
   
}
.cont_board{
    width: 100%;
    height: 80%;
}
.graf_board{
    width: 85%;
    height: 100%;
    float: right;
    margin-top: 0px;
    background-color: white;
    border-left: 2px solid #999999;
    border-bottom: 2px solid #999999;
    box-sizing: border-box;
    display: flex;
    
}
.barra{
    width:100%;
    height: 100%;
    margin-right: 15px;
    margin-left: 15px;
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.sub_barra{
    width: 100%;
    height: 80%;
    background: -moz-linear-gradient(top, #2BA6B6 0%, #73D2DE 100%);
    background: -webkit-linear-gradient(top, #2BA6B6 0%,#73D2DE 100%);
    background: linear-gradient(to bottom, #2BA6B6 0%,#73D2DE 100%);
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;

}
.tag_g{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    text-align: center;
    margin-top: -20px;
    z-index: 2;
}
.tag_leyenda{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.tag_board{
    height: 100%;
    width: 15%;
    border-bottom: 2px solid rgba(0,0,0,0);
    box-sizing: border-box;
}
.sub_tag_board{
    height: 100%;
    width: 100%;
}
.sub_tag_board>div{
    width: 100%;
    height: 10%;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}
.b1{ height: 35%}
.b2{ height: 45%}
.b3{ height: 55%}
.b4{ height: 75%}
.b5{ height: 85%}
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-family: sans-serif;
}